/* GENERAL */
body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #1d1d1d;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cc0000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/* PRELOADER */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #1d1d1d;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #cc0000;
  border-top-color: #1d1d1d;
  border-bottom-color: #1d1d1d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }  
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }  
}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #cc0000;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.back-to-top:hover {
  background: #cc0000d5;
  color: #ffffff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* HEADER */
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(23, 26, 29, 0.8);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #ffffff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    border: 0;
  }  
}

/* DESKTOP NAVIGATION MENU */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #cc0000;
}

/* MOBILE NAVIGATION MENU */
.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #ffffff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }  
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 39, 43, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #8a0000;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #000000;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #428bca;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/* EXPLORE SECTION */
#explore {
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 39, 43, 0.8);
  overflow: hidden;
  position: relative;
}

#explore .carousel, #explore .carousel-inner, #explore .carousel-item, #explore .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#explore .carousel-item::before {
  content: "";
  background-color: rgba(12, 13, 14, 0.8);
}

#explore .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#explore .container {
  text-align: center;
}

#explore h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#explore p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #ffffff;
}

#explore .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#explore .carousel-inner .carousel-item, #explore .carousel-inner .active.carousel-item-start, #explore .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#explore .carousel-inner .active, #explore .carousel-inner .carousel-item-next.carousel-item-start, #explore .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#explore .carousel-control-next-icon, #explore .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#explore .carousel-control-next-icon:hover, #explore .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#explore .carousel-indicators li {
  cursor: pointer;
  background: #ffffff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#explore .carousel-indicators li.active {
  opacity: 1;
  background: #cc0000;
}

#explore .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #ffffff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #cc0000;
}

#explore .btn-get-started:hover {
  background: #cc0000d5;
}

@media (max-width: 768px) {
  #explore h2 {
    font-size: 28px;
  }  
}

@media (max-height: 500px) {
  #explore {
    height: 120vh;
  }  
}

/* SECTIONS GENERAL */
section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  padding-bottom: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #cc0000;
}

/* TATTOOS */
.tattoos .tattoos-item {
  margin-bottom: 30px;
}

.tattoos #tattoos-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.tattoos #tattoos-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #888888;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.tattoos #tattoos-filters li:hover, .tattoos #tattoos-filters li.filter-active {
  color: #ffffff;
  background: #cc0000;
}

.tattoos #tattoos-filters li:last-child {
  margin-right: 0;
}

.tattoos .tattoos-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(57, 64, 71, 0.6);
}

.tattoos .tattoos-wrap::before {
  content: "";
  background: rgba(57, 64, 71, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.tattoos .tattoos-wrap img {
  transition: all ease-in-out 0.3s;
}

.tattoos .tattoos-wrap:hover::before {
  opacity: 1;
}

.tattoos .tattoos-wrap:hover img {
  transform: scale(1.2);
}

/* ARTISTS */
.artists .artists-carousel, .artists .artists-slider {
  overflow: hidden;
}

.artists .artists-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #ffffff;
}

.artists .artists-item .artists-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #ffffff;
  float: left;
  margin: 0 10px 0 0;
}

.artists .artists-item a {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #394047;
}

.artists .artists-item a:hover {
  color: #cc0000;
}

.artists .artists-item h4 {
  font-size: 14px;
  color: #888888;
  margin: 0;
}

.artists .artists-item p {
  color: #000000;
}

.artists .artists-item .quote-icon-left, .artists .artists-item .quote-icon-right {
  color: #ecb9b9;
  font-size: 26px;
}

.artists .artists-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.artists .artists-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.artists .artists-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}

/* STUDIOS */
.studios {
  padding-bottom: 30px;
}

.studios .icon-box {
  margin-bottom: 60px;
}

.studios .icon {
  float: left;
}

.studios .icon i {
  color: #cc0000;
  font-size: 36px;
  line-height: 1;
}

.studios .name {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.studios .name a {
  color: #ffffff;
  transition: 0.3s;
}

.studios .name a:hover {
  color: #cc0000;
}

.studios .location {
  color: #888888;
  margin-left: 60px;
  line-height: 24px;
  font-size: 14px;
}

/* FOOTER */
#footer {
  background: #242424;
  padding: 0 0 30px 0;
  color: #ffffff;
  font-size: 14px;
}

#footer .footer-top {
  background: #222222;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

#footer .footer-top .social-links a {
  font-size: 16px;
  display: inline-block;
  background: #394047;
  color: #ffffff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #cc0000;
  color: #ffffff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #cc0000;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #cc0000;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
